img {
  width: 100%;
}

.footer {
  position: static;
  display: block;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

@media(min-width: 800px) {
  .btn {
    min-width: 100px;
  }
}
@media(min-width: 600px) {
  .skill{
    display: block !important;
  }
}

.show-education {
  margin-top: 30px;
}
.fourByfour{
  font-family: 'Leckerli One', cursive;
  font-weight: bold;
}

/* @media(min-width: 600px) {
  .not-found{
    width: 380px;
  }
} */